@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
  /*COLORS*/
  --clr-dark-magenta: hsl(300, 43%, 22%);
  --clr-soft-pink: hsl(333, 80%, 67%);
  --clr-gray-magenta: hsl(303, 10%, 53%);
  --clr-ligth-magenta: hsl(300, 24%, 96%);
  --clr-white:hsl(0, 0%, 100%);

  /*TYPOGRAPHY*/
  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

p {
  font-size: 15px;
}

body { 
  font-family: "League Spartan", sans-serif;
  min-height: 100vh;
  background:url('./images/bg-pattern-top-desktop.svg') no-repeat, 
  url('./images/bg-pattern-bottom-desktop.svg') no-repeat bottom right;
}

.container {
  margin: 116px 80px; 
}

.top-left {
  max-width: 380px;
  color: var(--clr-gray-magenta);
}

.top-left h1 {
  color: var(--clr-dark-magenta);
  font-weight: var(--fw-bold);
  max-width: 300px;
  line-height: 36px;
}

.top-right {
  max-height: 160px;
  width: fit-content;
}

.rating { 
  background-color: var(--clr-ligth-magenta);
  border-radius: 8px;
  height: fit-content;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  color: var(--clr-dark-magenta);
  font-weight: var(--fw-bold);        
  font-size: 14px;
  position: relative;
}
.r1 {
  right: 135px;
}

.r2{
  right: 90px;
}

.r3 {
  right: 45px;
}

.icon-wrapper{
  margin-right:18px;
}

.card{
  border-color:transparent;
  border-radius: 8px;
  background-color: var(--clr-dark-magenta);
  color: var(--clr-white);
  padding: 20px 40px;
  width: 330px;
  position: relative;
}

.card img {
  width: 44px;
}

.user-information h6 + h6 {
  color: var(--clr-soft-pink);
}

h6 {
  margin-bottom: 0;
}

.card1 {
  top: 20px;;
}

.card2 {
  top:40px;
}

.card3 {
  top: 60px;;
}